= simple_form_for(@store, url: find_store_path(@store)) do |f|

	.form-inputs.d-grid.gap-2
		= f.input :username
		= f.input :password

	.form-actions.mt-4
		= f.button :submit, 'LogIn', class: "btn btn-warning"