%h1.mt-3 Registration

%div.mt-4
	%label.me-3 Please select an account type : 
	
	.btn-group.mb-2
		= link_to "Customer", new_user_path, remote: true, for: "radio1", class: "btn btn-outline-primary", role: "button", "aria-disabled": "true"

		= link_to "Store", new_store_path, remote: true, for: "radio2", class: "btn btn-outline-primary", role: "button", "aria-disabled": "true"





#registrationForm.mb-3
	- if(@user && @user.errors.any?)
		= render 'users/form'
	- elsif(@store && @store.errors.any?)
		= render 'stores/form'